<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Page</title>
  </head>
  <body>
    <h1>My little family :)</h1>
    <h2>
      I have a wife - her name is Katrina. We met in highschool and have been
      together for almost 16 years!
    </h2>
    <h2>
      We got married in September 2019 - squeaked in just before the pandemic!
    </h2>
    <h3>
      We have the most handsome dog, his name is Chase and he is 9 years old!
    </h3>
    <h3>
      We also have 2 cats, Puss and Jade - one is a crab and the other is needy
      as hell but we love them both hehe
    </h3>
    <h4>
      We enjoy the great outdoors - on the quad, kayaking, hiking, swimming, you
      name it!
    </h4>
  </body>
</html>
