<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Page</title>
  </head>
  <body>
    <h1>The weather in NL is unpredictable!</h1>
    <h2>We can sometimes see all 4 seasons in the same day!</h2>
    <h3>
      Today, February 4, 2022 the weather is currently 1 degree C, a crap load
      of rain, soon turning to a crap load of freezing rain.
    </h3>
  </body>
</html>
